@import url("https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap");

@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]::before,
[class*=icon-]::after {
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-bottom:after {
  content: "\e900";
  color: #070847;
}

.icon-arrow-slider:before {
  content: "\e901";
}

.icon-arrow-top:after {
  content: "\e902";
}

.icon-backet:before {
  content: "\e903";
}

.icon-logo:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

nav,
footer,
header,
aside {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

*:last-child {
  margin-bottom: 0;
}

html,
body {
  min-width: 320px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: Readex Pro;
  font-size: 0.875rem;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 92.4285714286em;
}

.block-header {
  text-align: center;
}

.block-header * {
  margin: 0 auto;
}

.block-header > *:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.title {
  font-size: 2.625rem;
  line-height: 1.238;
  font-size: 2.625rem;
}

.text {
  line-height: 1.21;
}

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  padding: 0.3125rem 0;
  margin-bottom: 1.75rem;
  z-index: 50;
  position: relative;
}

.header__container {
  min-height: 4.375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.625rem 1fr 15.9375rem;
  grid-template-columns: 10.625rem 1fr 15.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__container::after {
  content: "";
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  min-height: 5rem;
  background: #939393;
  z-index: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__logo {
  font-size: 1.3125rem;
  margin: 0.1875rem 0.9375rem 0 0;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 8.625rem;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0 11% 0 0.9375rem;
  position: relative;
  z-index: 2;
}

.header__action-search {
  font-size: 1.25rem;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  margin-right: 1.375rem;
}

.header__action-search-close {
  display: none;
}

.header__form-input {
  border-radius: 0.375rem;
  padding: 0 0.9375rem 0 2.5rem;
  width: 100%;
  height: 100%;
  font-size: 0.9375rem;
  color: #4B4B4B;
  background: #ffffff;
}

.header__action-form {
  border: 0.0625rem solid #999999;
  border-radius: 0.375rem;
  position: relative;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__action-form-open {
  width: 12.5rem;
  opacity: 1;
  height: 2.1875rem;
  margin-right: 1.25rem;
}

.header__form-button {
  font-size: 1.125rem;
  position: absolute;
  top: 5%;
  left: 3%;
  color: #5c5c5c;
  padding: 0.3125rem;
}

.header__backet {
  font-size: 1.4375rem;
  position: relative;
}

.header__backet span {
  font-size: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: -0.1875rem;
  right: -0.3125rem;
  display: none;
}

.menu__burger {
  display: none;
}

.menu__body-open {
  left: 0;
}

.menu__body-open::after {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  line-height: 1.21;
  text-transform: uppercase;
  font-family: Inter;
  position: relative;
}

.menu__link::after {
  font-size: 0.5rem;
  margin-left: 0.341875rem;
}

.menu__link:hover {
  font-weight: 600;
}

.main {
  padding-bottom: 2.34375rem;
}

.main__swiper-slide {
  background: #DCE5E2;
  border-radius: 2rem;
}

.main__swiper-slide_2 {
  background: #7ad0d3;
}

.main__swiper-slide_3 {
  background: #e5f89f;
}

.main__slide-content {
  padding: 6.25rem 1.25rem 6.25rem 3.5rem;
  margin: 1rem 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.625rem;
          flex: 0 1 40.625rem;
}

.main__title {
  font-size: 3.625rem;
  line-height: 1.21;
}

.main__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.main__text {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1.21;
}

.main__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.main__btn {
  font-family: Inter;
  font-size: 1.125rem;
  padding: 0.875rem 3.3125rem;
  line-height: 1.21;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 12.5rem;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main__btn:hover {
  background: #000000;
  color: #fff;
}

.main__swiper-pagination {
  margin-bottom: 1.5625rem;
  gap: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__swiper-pagination span {
  width: 12.125rem;
  height: 0.125rem;
  background: #000;
  border-radius: 0;
}

.main__swiper-button-prev::after,
.main__swiper-button-next::after {
  display: none;
}

.main__swiper-button-prev::before,
.main__swiper-button-next::before {
  font-size: 1.625rem;
  color: #08090D;
}

.main__swiper-button-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__slide-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-height: 34.375rem;
}

.offers {
  padding-top: 2.34375rem;
  padding-bottom: 3.125rem;
}

.offers__header {
  margin-bottom: 3.5rem;
}

.offers__text {
  max-width: 39.25rem;
}

.offers__items {
  display: -ms-grid;
  display: grid;
  gap: 3.125rem 1rem;
  -ms-grid-rows: auto 3.125rem auto;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
      grid-template: repeat(2, auto)/repeat(4, 1fr);
}

.offers__item {
  -webkit-filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  background: #fff;
}

.offers__item:first-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding: 0 2.625rem;
  text-align: right;
}

.offers__item:first-child h3 {
  max-width: 12rem;
  margin-left: auto;
}

.offers__item:nth-child(2),
.offers__item:nth-child(3) {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  text-align: center;
}

.offers__item:nth-child(2) .offers__item-content,
.offers__item:nth-child(3) .offers__item-content {
  padding: 0 1.875rem;
}

.offers__item:nth-child(2) {
  padding: 7.625rem 0 3.8125rem;
  padding-top: 7.625rem;
}

.offers__item:nth-child(3) {
  padding: 7.125rem 0;
}

.offers__item:nth-child(3) .offers__item-content:not(:last-child) {
  margin-bottom: 2.618125rem;
}

.offers__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2.625rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.offers__item:last-child .offers__item-content {
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5%;
          flex: 0 1 31.5%;
}

.offers__item-content {
  margin-top: 0.125rem;
}

.offers__item-image-1 {
  margin-right: 3.4375rem;
  padding-bottom: 67.6%;
}

.offers__item-image-2 {
  margin: 0 0 2.1875rem 1rem;
  padding-bottom: 154.3918918919%;
}

.offers__item-image-2 img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom left;
     object-position: bottom left;
}

.offers__item-image-3 {
  padding-bottom: 136.6559485531%;
}

.offers__item-image-4 {
  padding-bottom: 48%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.offers__item-label {
  font-size: 0.9375rem;
  font-family: Inter;
}

.offers__item-title {
  font-size: 2rem;
  line-height: 1.21;
}

.shop {
  padding-top: 3.125rem;
  padding-bottom: 2.34375rem;
}

.shop__header:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.shop__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem 1.78125rem;
}

.shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop__item-image {
  padding-bottom: 86.6396761134%;
  margin: 0 1.75rem;
  display: block;
}

.shop__item-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.shop__item-image:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.shop__item-title {
  font-size: 1.375rem;
  line-height: 1.27;
}

.shop__item-title:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.shop__item-text {
  color: #4B4B4B;
  font-family: Inter;
  max-width: 16.3125rem;
  line-height: 1.2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.shop__item-text:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.shop__item-price {
  font-size: 1.125rem;
  font-family: Inter;
}

.thebest {
  padding: 2.46875rem 0;
}

.thebest__header {
  margin-bottom: 3.5rem;
}

.thebest__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.75rem;
}

.thebest__item {
  text-align: center;
  background: #F8F9FA;
  padding: 2.5625rem 1.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thebest__item > *:not(:last-child) {
  margin-bottom: 1.875rem;
}

.thebest__item span {
  font-size: 0.8125rem;
  line-height: 1.3;
  margin: 0 !important;
}

.thebest__item-title {
  font-size: 1.75rem;
  line-height: 1.25;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.thebest__item-btn {
  font-family: Inter;
  font-size: 1.125rem;
  line-height: 1.22;
  text-transform: capitalize;
  min-width: 11.875rem;
  padding: 0.875rem 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.0625rem solid #000000;
  border-radius: 12.5rem;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.thebest__item-btn:hover {
  background: #000;
  color: #fff;
}

.thebest__item-image {
  padding-bottom: 70%;
  max-width: 16.1875rem;
  margin: 0 auto;
  width: 100%;
}

.thebest__item-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.thebest__item-image-2 {
  max-width: 18.375rem;
  margin: 0 auto;
}

.thebest__item-image-3 {
  max-width: none;
}

.ideas {
  padding: 2.375rem 0;
}

.ideas__header:not(:last-child) {
  margin-bottom: 3.5rem;
}

.ideas__text {
  font-size: 0.8125rem;
}

.ideas__items {
  gap: 2.1875rem;
}

.ideas__image {
  aspect-ratio: 620/420;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ideas__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.5%;
          flex: 0 0 49.5%;
  margin-top: 0.9375rem;
}

.ideas__content-text {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.25;
}

.ideas__content-text:not(:last-child) {
  margin-bottom: 1.75rem;
}

.ideas__btn {
  margin-top: 4.625rem;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ideas__btn::after {
  font-size: 1.040625rem;
  margin-left: 0.363125rem;
  -webkit-animation: arrow 1.5s infinite linear;
          animation: arrow 1.5s infinite linear;
}

.search {
  padding: 2.25rem 0 2.125rem;
}

.search__title {
  text-align: center;
}

.search__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.search__form {
  max-width: 40.625rem;
  margin: 0 auto;
}

.search__form-content {
  background: #F8F9FA;
  border: 0.0625rem solid #C5C5C5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  border-radius: 6.25rem;
  padding: 0 1.3125rem;
}

.search__form-content:not(:last-child) {
  margin-bottom: 1.125rem;
}

.search__form-input {
  padding: 1.0625rem 0;
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  font-size: 1.25rem;
}

.search__form-input::-webkit-input-placeholder {
  color: #000;
  font-family: Inter;
}

.search__form-input::-moz-placeholder {
  color: #000;
  font-family: Inter;
}

.search__form-input:-ms-input-placeholder {
  color: #000;
  font-family: Inter;
}

.search__form-input::-ms-input-placeholder {
  color: #000;
  font-family: Inter;
}

.search__form-input::placeholder {
  color: #000;
  font-family: Inter;
}

.search__form-button {
  font-size: 1.375rem;
}

.search__form-buttons-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.4375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__form-button-complete {
  font-family: Inter;
  padding: 0.75rem 1.375rem;
  border: 0.0625rem solid #C5C5C5;
  border-radius: 12.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search__form-button-complete:hover {
  background: rgba(137, 137, 137, 0.097);
}

.sign {
  padding: 2.125rem 0 1.1875rem;
}

.sign__body {
  max-width: 58.4375rem;
  background: #DCE5E2;
  padding: 2.9375rem 0.9375rem 2.75rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.sign__header {
  margin-bottom: 0.875rem;
}

.sign__text {
  font-size: 1rem;
}

.sign__image {
  aspect-ratio: 233/185;
  max-width: 14.5625rem;
  margin: 0 auto;
}

.sign__image:not(:last-child) {
  margin-bottom: 1.784375rem;
}

.sign__image img {
  -o-object-position: top;
     object-position: top;
}

.sign__form {
  background: #DCE5E2;
  border: 0.0625rem solid #000000;
  max-width: 25rem;
  border-radius: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.sign__form-input {
  padding: 1.03125rem 1.25rem 1.03125rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: transparent;
  font-size: 1rem;
}

.sign__form-input::-webkit-input-placeholder {
  font-family: Inter;
}

.sign__form-input::-moz-placeholder {
  font-family: Inter;
}

.sign__form-input:-ms-input-placeholder {
  font-family: Inter;
}

.sign__form-input::-ms-input-placeholder {
  font-family: Inter;
}

.sign__form-input::placeholder {
  font-family: Inter;
}

.sign__form-button {
  padding: 1.03125rem 2.03125rem;
  background: #000;
  color: #fff;
  font-family: Inter;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.sign__form-button:hover {
  background-color: rgba(0, 0, 0, 0.862745098);
}

@-webkit-keyframes arrow {
  0%, 100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
}

@keyframes arrow {
  0%, 100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }

  50% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
}

.footer {
  padding: 2.8125rem 0 0 0;
  background: #F8F9FA;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  row-gap: 1.875rem;
  margin-bottom: 4.9375rem;
}

.footer__column:first-child {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding-right: 1.25rem;
}

.footer__logo {
  font-size: 1.375rem;
  display: inline-block;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.125rem;
}

.footer__text {
  font-size: 1rem;
  font-family: Inter;
  max-width: 20.25rem;
  line-height: 1.41;
}

.footer__bottom-text {
  font-size: 1.125rem;
}

.footer__bottom-text span {
  font-family: Inter;
}

.footer__bottom-text span::after {
  margin-left: 0.25rem;
}

.footer__label {
  font-size: 1.375rem;
  display: inline-block;
}

.footer__label:not(:last-child) {
  margin-bottom: 1.2325rem;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.92rem;
}

.footer__list-link {
  font-size: 1.0625rem;
  font-family: Inter;
}

.footer__bottom {
  border-top: 0.0625rem solid #DCE5E2;
  min-height: 4.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.625rem 0 0.25rem;
}

@media (min-width: 47.99875em) {
  .ideas__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 61.99875em) {
  .main__swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1294px) {
  .title {
    font-size: calc(27px + 15 * ((100vw - 320px) / 974));
  }

  .menu__list {
    -webkit-column-gap: calc(0px + 40 * ((100vw - 320px) / 974));
       -moz-column-gap: calc(0px + 40 * ((100vw - 320px) / 974));
            column-gap: calc(0px + 40 * ((100vw - 320px) / 974));
  }

  .main__title {
    font-size: calc(30px + 28 * ((100vw - 320px) / 974));
  }

  .offers {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 974));
  }

  .offers__item:nth-child(2) {
    padding-top: calc(0px + 122 * ((100vw - 320px) / 974));
  }

  .offers__item:nth-child(3) {
    padding: calc(50px + 64 * ((100vw - 320px) / 974)) 0;
  }

  .offers__item-title {
    font-size: calc(20px + 12 * ((100vw - 320px) / 974));
  }

  .shop {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 974));
  }

  .shop__header:not(:last-child) {
    margin-bottom: calc(0px + 35 * ((100vw - 320px) / 974));
  }

  .thebest {
    padding: calc(20px + 19.5 * ((100vw - 320px) / 974)) 0;
  }

  .thebest__header {
    margin-bottom: calc(25px + 31 * ((100vw - 320px) / 974));
  }

  .ideas {
    padding: calc(20px + 18 * ((100vw - 320px) / 974)) 0;
  }

  .ideas__header:not(:last-child) {
    margin-bottom: calc(20px + 36 * ((100vw - 320px) / 974));
  }

  .ideas__items {
    gap: calc(15px + 20 * ((100vw - 320px) / 974));
  }

  .ideas__content-text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 974));
  }

  .ideas__btn {
    margin-top: calc(35px + 39 * ((100vw - 320px) / 974));
  }

  .footer__items {
    margin-bottom: calc(30px + 49 * ((100vw - 320px) / 974));
  }
}

@media (max-width: 40em) {
  .footer__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__column:first-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.25rem 0;
    row-gap: 0.625rem;
  }
}

@media (max-width: 67.5em) {
  .header__menu {
    margin: 0;
  }

  .header__action {
    margin-right: 0;
  }

  .header__action-search {
    margin-right: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    -ms-grid-columns: 10.625rem 1fr 4.6875rem;
    grid-template-columns: 10.625rem 1fr 4.6875rem;
  }

  .header__action-form {
    position: absolute;
    bottom: -2.8rem;
    margin: 0;
    z-index: 1;
    right: 0;
    width: 12.5rem;
    height: 2.1875rem;
  }

  .main__slide-content {
    padding: 3.125rem 1.5625rem 1.875rem;
    text-align: center;
  }

  .main__slide-image {
    padding-bottom: 85.0077279753%;
    min-height: auto;
  }

  .offers__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5625rem;
  }

  .offers__item:first-child {
    padding: 0 1.875rem;
  }

  .offers__item:last-child {
    padding: 0 1.875rem;
  }

  .shop__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .shop__item-text {
    margin: 0 auto;
  }

  .shop__item-text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .thebest__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .thebest__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .thebest__item-title {
    font-size: 1.5625rem;
  }

  .footer__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__column:first-child {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
}

@media (max-width: 47.99875em) {
  .header .color-white {
    color: #fff;
  }

  .header .color-white::before {
    color: #fff;
  }

  .header__logo {
    position: relative;
  }

  .header__action {
    margin-right: 3.125rem;
  }

  .header__action-form {
    position: static;
    width: 0;
    height: 0;
  }

  .menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1.875rem;
    height: 1.125rem;
    position: absolute;
    right: 0.9375rem;
    top: 1.875rem;
    z-index: 2;
  }

  .menu__burger span {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0.125rem;
    background: #000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform-origin: 0.25rem;
        -ms-transform-origin: 0.25rem;
            transform-origin: 0.25rem;
  }

  .menu__burger-open span {
    background-color: #fff;
  }

  .menu__burger-open span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__burger-open span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu__burger-open span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #939393;
    z-index: 1;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 6.25rem;
    row-gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .menu__link {
    font-size: 1.5625rem;
    color: #fff;
  }

  .menu__link::after {
    font-size: 0.875rem;
    color: #fff;
  }

  .offers__item:first-child {
    padding: 0 1.25rem;
  }

  .offers__item:last-child {
    padding: 0 1.25rem;
  }

  .thebest__item-title {
    font-size: 1.375rem;
  }

  .ideas__content:not(:first-child) {
    margin-top: 1.875rem;
  }
}

@media (max-width: 35.99875em) {
  .offers__item:nth-child(2),
  .offers__item:nth-child(3) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 1;
    grid-row: span 1;
  }

  .shop__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.875rem;
  }

  .shop__item-text {
    max-width: 25rem;
  }

  .thebest__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .thebest__item:last-child {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .thebest__item-title {
    font-size: 1.5625rem;
  }
}

@media (max-width: 29.99875em) {
  .offers__item:first-child {
    padding: 0 0.625rem 0 0;
  }

  .offers__item:last-child {
    padding: 0 0.625rem;
  }

  .sign__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0.625rem;
  }
}